@inherits _Displayer<Contenter.Models.Sources.Source, Guid>

<ExpList
  ParamExpectedCount="1"
  ParamSource=@(
    this.Source
    .Select(item => new {
      item.Name,
      item.Href,
      Platform = item.PlatformId == null ? null : new {
        IconPath = item.Platform!.IconPath,
        Channel = item.ChannelUid == null ? null : new {
          Id = item.Channel!.Id,
          Uid = item.ChannelUid,
          Title = item.Channel!.Title
        },
        item.DefinitionUid,
      },
      Content = item.ContentId == null ? null : new {
        item.Content!.Id,
        item.Content.Name,
        Guests = item.Content.GuestPersonaAssignments.Select(guestAss => new {
          guestAss.Guest.Id,
          guestAss.Guest.Name
        })
      }
    })
  )
>
  <IfSome Context="model">
    <FluentStack Orientation="Orientation.Horizontal" HorizontalGap="4">
      @if(model.Platform != null)
      {
        @if(model.Platform.Channel != null)
        {
          <a href="/s/channels/@model.Platform.Channel.Id">@model.Platform.Channel.Title</a>
          <text> &raquo; </text>
        }
      }
      
      <a href="@model.Href" target="_blank">
        <Contenter.Views.Bases.ImageBase Source=@model.Platform.IconPath />
        @(model.Name ?? model.Platform?.DefinitionUid ?? "source")
      </a>
    </FluentStack>
    @Before
    @if (model.Content != null)
    {
      <div>
        <a href="/c/contents/@model.Content.Id">@(model.Content.Name ?? "no-name")</a>
        @if (model.Content.Guests.Any())
        {
          <ul>
            @foreach (var guest in model.Content.Guests)
            {
              <li>
                <a href="/p/personas/@guest.Id">@guest.Name</a>
              </li>
            }
          </ul>
        }
      </div>
    }
    @After
  </IfSome>
</ExpList>
