@inherits _Binder<Thing>
@rendermode InteractiveServer
@code {
  override protected async Task OnParametersSetAsync()
  {
    await base.OnParametersSetAsync();
  }
}
<EditForm Model=@this.model OnValidSubmit=@this.OnValidSubmit FormName="create">
  <DataAnnotationsValidator />
  <FluentValidationSummary />

  <FluentStack Orientation="@Orientation.Vertical">
    <div>
      <FluentInputLabel Label="Definition" Required >
        <ChooseThingDefinition @bind-value=@this.model.ThingDefinition />
      </FluentInputLabel>
    </div>
    <div>
      <FluentTextField @bind-Value=@this.model.Name Label="Name" Required />
    </div>
    <div>
      <FluentTextArea @bind-Value=@this.model.Description Label="Description" Required="false" />
    </div>
    <div>
      @if(this.model.Links != null)
      {
        <StringListmanager @bind-list=@this.model.Links />
      }
      <FluentButton OnClick=@(() => {
        this.model.Links ??= [];
        this.model.Links.Add(string.Empty);
      })> Add link
      </FluentButton>
    </div>
    <div style="border: solid grey 1px;">
      <FluentInputLabel Label="Sets: ">
        @model.IsSets?.Count
      </FluentInputLabel>
      <FluentButton 
        OnClick=@(() => {
          model.IsSets ??= [];
          model.IsSets.Add(
            new Contenter.Models.Objectify.Sets.Set(){
              Intersections = []
            }
          );
        })>
        New Set
      </FluentButton>
      @if(model.IsSets != null && model.IsSets.Any())
      {
        <ul>
          @foreach(var set in model.IsSets)
          {
            <li>
              <ChooseThing 
                value=@null
                valueChanged=@(
                  val => {
                    set.Intersections ??= [];
                    set.Intersections.Add(
                      new Models.Objectify.Sets.IntersectionMemberAssignment(){
                        Thing = val
                      }
                    );
                  }
                ) 
              >
              Add Intersected
              </ChooseThing>
              <FluentButton
                OnClick=@(() => {
                  model.IsSets.Remove(set);
                })
                >Remove Set</FluentButton>
              <ul>
                @foreach(var ass in set.Intersections)
                {
                  <li>
                    <FluentInputLabel>
                    @ass.Thing
                    <FluentButton 
                      OnClick=@(() => {
                        set.Intersections.Remove(ass);
                      })
                    >Remove</FluentButton>
                    </FluentInputLabel>
                  </li>
                }
              </ul>
            </li>
          }
        </ul>
      }
      
    </div>
    @if (model.ThingDefinition != null)
    {
      <div>
        <ChooseRelationDefinition NoCreate
          FilterExpression=@(rd => rd.FromId == model.ThingDefinition.Id)
          value=@null
          valueChanged=@(
            (RelationDefinition rd) =>
            {
              model.RelationsFrom ??= [];
              var r = new Relation()
              {
                Definition = rd
              };
              model.RelationsFrom.Add(r);
            }
          )
        >
        Add Relation
        </ChooseRelationDefinition>
        @if(model.RelationsFrom != null && model.RelationsFrom.Any())
        {
          <Listmanager Context="r" @bind-list=@model.RelationsFrom>
            <td>
              @r.Definition.ForwardWord
              @r.Definition.Name
            </td>
            <td>
              <ChooseThing
                @bind-value=@r.To
                MinTermLength="0"
                ParamThingDefinitionId=@r.Definition.ToId
              />
            </td>
            <td>@(r.To)</td>
          </Listmanager>
        }
      </div>
    }
    @if (ChildContent != null)
    {
      <FluentButton Type=@ButtonType.Submit Appearance=@Appearance.Accent>@ChildContent</FluentButton>
    }
  </FluentStack>
</EditForm>

@if (!string.IsNullOrWhiteSpace(this.model.Name))
{
  <ExpList 
    ParamSource=@(
      this.db.Things
      .Where(item => item.Id != this.model.Id)
      .Where(item => item.Name == this.model.Name)
      .Select(persona => new ThingView {
        Id = persona.Id,
        Name = persona.Name,
        Definition = new (){
          Id = persona.ThingDefinitionId,
          Name = persona.ThingDefinition!.Name,
          PluralName = persona.ThingDefinition.Plural,
        }
      })
    )
  >
    <Wrapper Context="rows">
      <div>
        Asmenys su tuo pačiu vardu: 
        <ul>@rows</ul>
      </div>
    </Wrapper>
    <IfSome Context="persona">
      <li>
        <InnerLinkThingDefinition Model=@persona.Definition More />
        <InnerLinkThing Model=@persona />
      </li>
    </IfSome>
    <IfNone>no duplicates</IfNone>
  </ExpList>
}
