@inherits _Binder<Contenter.Models.Contents.Content>
@rendermode InteractiveServer
@{
  var cultureInfo = new System.Globalization.CultureInfo("lt-LT");
}
@code {
  [Parameter] 
  public bool ShowSources { get; set; } = true;
}
@inject IDialogService dialoger
<EditForm Model=@this.model OnValidSubmit=@this.OnValidSubmit FormName="createContent">
  <DataAnnotationsValidator />
  <FluentValidationSummary />
  <FluentStack Orientation="@Orientation.Vertical">
    <div>
      <FluentTextField @bind-Value=@model.Name Label="Pavadinimas" Style="width:100%;" />
      <div>
        <FluentInputLabel Label="Paskelbimo data" Required />
        <FluentDatePicker Culture="@cultureInfo" 
          Value=@(this.model.PublishedAt)
          ValueChanged=@(val => model.PublishedAt = val)
          ValueExpression=@(() => model.PublishedAt)
          OnCalendarOpen=@(() => {
            if(this.model.PublishedAt == null){
              var now = DateTime.Now;
              this.model.PublishedAt = new DateTime(now.Year, now.Month, now.Day, now.Hour, 0, 0);
            }
          })
        />
        <FluentTimePicker  @bind-Value=@model.PublishedAt @bind-Value:format="MM:hh" />
      </div>
    </div>
    <div>
      Laida (<a href="/create/c/fam">create</a>):
      <div>
        <EFSelect @bind-value=@this.model.Fam />
      </div>
    </div>
    <div>
      Svečiai (<a href="/create/p/personas?BackToContentCreation=true">create</a>):
      <div>
        <EFSelect T="@Contenter.Models.Persons.Persona"
          value=null 
          valueChanged=@(val => {
            if(val == null)
              return;
            this.model.GuestPersonaAssignments.Add(
              new() {
                Index = this.model.GuestPersonaAssignments.Count + 1,
                Guest = val,
                Percentage = 100,
              }
            );
          })
        />
      </div>
      <Listmanager @bind-list=@model.GuestPersonaAssignments Context="ass">
        <td>@ass.Guest</td>
        <td>
          <FluentNumberField @bind-Value=@ass.Percentage Style="min-width:60px;"/>
        </td>
      </Listmanager>
    </div>
    @if (this.ShowSources)
    {
      <div>
        Nuorodos:
        <div>
          <EFSelect T=@(Contenter.Models.Sources.SourceDefinition)
                    ParamSource=@(db => db.Set<Contenter.Models.Sources.SourceDefinition>().Include(item => item.Platform))
                    value="@null"
                    valueChanged=@(val => {
                      model.SourceAssignments.Add(
                        new Models.Contents.ContentSources() {
                          Index = model.SourceAssignments.Count + 1,
                          Source = new() {
                            Definition = val
                          }
                        });
                    })
                    >
            <ItemTemplate Context="sd">
              @if (sd != null)
              {
                <Icon ShowPlatformName DefinitionName=@sd.Name iconPath=@sd.Platform.IconPath PlatformName=@sd.Platform.Name PlatformId=@sd.PlatformId>
                  ??
                </Icon>
              }
              else
              {
                <text>null</text>
              }
            </ItemTemplate>
          </EFSelect>
          <Listmanager @bind-list=@model.SourceAssignments Context="ass">
            <TableHeader>
              <tr>
                <th>#</th>
                <th>Href</th>
                <th>Def</th>
                <th>IsPreview</th>
                <th>IsPaid</th>
                <th>Actions</th>
              </tr>
            </TableHeader>
            <ChildContent>
              <td><FluentTextField @bind-Value=@ass.Source.Href Style="padding:0px;" /></td>
              <td>
                @if (ass.Source.Definition != null)
                {
                  <Icon DefinitionName=@ass.Source.Definition.Name iconPath=@ass.Source.Definition.Platform.IconPath PlatformName=@ass.Source.Definition.Platform.Name PlatformId=@ass.Source.Definition.PlatformId>
                    ??
                  </Icon>
                }
              </td>
              <td style="text-align:center;">
                <FluentCheckbox
                  Value="@ass.Source.IsFlag(Models.Sources.SourceFlags.Preview)"
                  ValueChanged=@(val => ass.Source.SetFlag(Models.Sources.SourceFlags.Preview, val))
                
                  />
              </td>
              <td style="text-align:center;">
                <FluentCheckbox 
                  Value="@ass.Source.IsFlag(Models.Sources.SourceFlags.Paid)"
                  ValueChanged=@(val => ass.Source.SetFlag(Models.Sources.SourceFlags.Paid, val))
                
                  />
              </td>
            </ChildContent>
          </Listmanager>
        </div>
      </div>
    }
    @if (ChildContent != null)
    {
      <FluentButton Type=@ButtonType.Submit Appearance=@Appearance.Accent>@ChildContent</FluentButton>
    }
  </FluentStack>
</EditForm>
@code {
}
