@inherits _Displayer<Contenter.Models.Contents.ContentFam, Guid>

<ExpList
  ParamExpectedCount="1"
  ParamSource=@(
    this.Source.Select(item => new {
      item.Name,
      Parent = item.ParentId == null ? null : new {
        Id = item.ParentId.Value,
        item.Parent!.Name,
      },
      Children = item.Children.Select(child => new {
        child.Id,
        child.Name,
      }),
      Contents = item.Contents
      .OrderByDescending(item => item.PublishedAt)
      .Select(ct => new {
        ct.Id,
        ct.Name,
        ct.PublishedAt,
        Guests = ct.GuestPersonaAssignments
        .OrderBy(ass => ass.Index)
        .Select(ass => new {
          ass.Guest.Id,
          ass.Guest.Name,
        })
        ,
        Sources = ct.SourceAssignments
        .OrderBy(item => item.Index)
        .Select(ass => new {
          ass.Source.Href,
          Definition = ass.Source.Definition == null ? null : new {
            ass.Source.Definition.Name,
            Platform = new {
              ass.Source.Definition.Platform.Id,
              ass.Source.Definition.Platform.Name,
              ass.Source.Definition.Platform.IconPath,
            }
          }
        })
      })
    })
  )
>
  <IfSome Context="model">
    <FluentStack Orientation="Orientation.Horizontal" HorizontalGap="4">
      @if (model.Parent != null)
      {
        <a href="/c/fam/@model.Parent.Id">@model.Parent.Name</a>
        <text> &raquo; </text>
      }
      @model.Name
    </FluentStack>
    @Before
    <div>
      Children (<a href="/c/fam/c?ParentId=@this.Id">add</a>):
      <OneOrMany ParamList=@model.Children Context="child">
        <a href="/c/fam/@child.Id">@child.Name</a>
      </OneOrMany>
    </div>
    <div>
      Contents (<a href="/c/contents/c?FamId=@this.Id">add</a>):
      @if (model.Contents.Any())
      {
        <table class="bord">
          @foreach(var ct in model.Contents)
          {
            <tr>
              <td>@ct.PublishedAt?.ToShortDateString()</td>
              <td>
                <OneOrMany ParamList=@ct.Guests>
                  <ChildContent Context="guest">
                    <a href="/p/personas/@guest.Id">@guest.Name</a>
                  </ChildContent>
                </OneOrMany>
              </td>
              <td><Name ParamHref=@($"/c/contents/{ct.Id}") ParamName="@ct.Name" /></td>
            </tr>
          }
        </table>
      }
      else
      {
        <span class="muted">none</span>
      }
    </div>
    @After
  </IfSome>
</ExpList>
