@inherits _Displayer<Contenter.Models.Contents.ContentFam, Guid>

<ExpList
  ParamExpectedCount="1"
  ParamSource=@(
    this.Source.Select(item => new {
      item.Name,
      Channels = item.SourceChannelsAssignments.OrderBy(item => item.IndexA).Select(ass => new {
        ass.Channel.Id,
        Name = ass.Channel.Title ?? ass.Channel.Name,
        Platform = new {
          ass.Channel.Platform.IconPath,
          ass.Channel.Platform.Name,
        },
        ass.Channel.Href,
      }),
      Contents = item.Contents
      .OrderByDescending(item => item.PublishedAt)
      .Select(ct => new {
        ct.Id,
        ct.Name,
        ct.PublishedAt,
        Guests = ct.GuestPersonaAssignments.OrderBy(ass => ass.IndexB)
        .Select(ass => new {
          ass.Guest.Id,
          ass.Guest.Name,
        })
        ,
        Sources = ct.Sources
        .Select(source => new {
          source.Href,
          Definition = source.Definition == null ? null : new {
            source.Definition.Name,
            Platform = new {
              source.Definition.Platform.Id,
              source.Definition.Platform.Name,
              source.Definition.Platform.IconPath,
            }
          }
        })
      })
    })
  )
>
  <IfSome Context="model">
    <PageTitle>@model.Name - sars.lt</PageTitle>
    <FluentStack Orientation="Orientation.Horizontal" HorizontalGap="4">
      @model.Name
    </FluentStack>
    @Before
      @if (model.Channels.Any())
      {
        <div>
          Channels: 
          <table>
            @foreach(var ch in model.Channels)
            {
              <tr>
                <td><a href="/s/channels/@ch.Id">@ch.Name</a></td>
                <td><Contenter.Views.Bases.AnchorBase IconStart=@ch.Platform.IconPath href=@ch.Href Text=@(ch.Platform.Name) NoText="" NewTab /></td>
              </tr>
            }
          </table>
        </div>
      }
    <div>
      Contents (<a href="/create/c/contents?FamId=@this.Id">add</a>):
      @if (model.Contents.Any())
      {
        <table class="bord">
          @foreach(var ct in model.Contents)
          {
            <tr>
              <td>@ct.PublishedAt?.ToShortDateString()</td>
              <td><Name ParamHref=@($"/c/contents/{ct.Id}") ParamName="@ct.Name" /></td>
              <td>
                <OneOrMany ParamList=@ct.Guests>
                  <ChildContent Context="guest">
                    <a href="/p/personas/@guest.Id">@guest.Name</a>
                  </ChildContent>
                </OneOrMany>
              </td>
            </tr>
          }
        </table>
      }
      else
      {
        <span class="muted">none</span>
      }
    </div>
    @After
  </IfSome>
</ExpList>
