@inherits _Displayer<Contenter.Models.Sources.Channel, Guid>
@rendermode InteractiveServer
<ExpList
  ParamExpectedCount="1"
  ParamSource=@(
    this.Source.Select(item => new {
      item.Id,
      item.Title,
      item.Name,
      item.Handle,
      item.Uid,
      item.Href,
      Platform = new {
        Id = item.PlatformId,
        item.Platform.Name,
        item.Platform.IconPath,
        item.Platform.ChannelName,
      },
      ContentFams = item.CotentFamsAssignments.OrderBy(item => item.IndexB).Select(ass => new {
        ass.ContentFam.Id,
        ass.ContentFam.Name,
      })
    })
  )
>
  <IfSome Context="model">
    <FluentStack Orientation="Orientation.Horizontal" HorizontalGap="4">
      @{
        var name = model.Title ?? model.Name ?? model.Handle;
      }
      @if (string.IsNullOrEmpty(model.Href))
      {
        <text>
          @model.Platform.Name
          @model.Platform.ChannelName
          @if(!string.IsNullOrWhiteSpace(name))
          {
            <u>@name</u>
          }
        </text>
      }
      else
      {
        <Contenter.Views.Bases.AnchorBase IconStart=@model.Platform.IconPath href=@model.Href NewTab Text=@name  />
      }
      
    </FluentStack>
    @Before
    <div>
      <FluentSelect TOption=@((XX, Guid?))>
        <FluentOption OnSelect=@(() => this.ChangeFilter(XX.All, null))>All</FluentOption>
        <FluentOption OnSelect=@(() => this.ChangeFilter(XX.NoContentOrNoFam, null))>Nepriskirti</FluentOption>
        @foreach (var fam in model.ContentFams)
        {
          <FluentOption OnSelect=@(() => this.ChangeFilter(XX.SpecificFam, fam.Id))>
            @fam.Name
          </FluentOption>
        }
        <FluentOption OnSelect=@(() => this.ChangeFilter(XX.BeContent, null))>Nesutvarkyti</FluentOption>
        <FluentOption OnSelect=@(() => this.ChangeFilter(XX.NepriskirtiFamai, null))>Klaidos</FluentOption>
      </FluentSelect>
      @if (this.X == XX.SpecificFam && this.FamId != null)
      {
        <a href="/c/fam/@this.FamId">open</a>
      }
    </div>
    @if (this.ShowAll)
    {
      <MyLoader @ref=@this.SourcesLoader
        ParamSource=@(
          this.db.Sources
          .Where(item => item.Channel != null && item.Channel.Id == this.Id)
          .Where(this.ChannelContentFilter(model.ContentFams.Select(item => item.Id).ToList()))
          .OrderByDescending(item => item.PublishedAt)
          .Select(s => new {
            s.Id,
            PublishedAt = s.PublishedAt == null ? null : s.PublishedAt.Value.ToShortDateString(),
            s.Href,
            s.Name,
            Content = s.ContentId == null ? null : new {
              s.Content!.Id,
              s.Content.Name,
              Fam = s.Content.FamId == null ? null : new {
                s.Content.Fam!.Id,
                s.Content.Fam.Name,
              },
              Guests = s.Content.GuestPersonaAssignments.OrderBy(item => item.IndexA).Select(ass => new {
                ass.Guest.Id,
                ass.Guest.Name,
              })
            }
          })
        )>
        <Wrapper Context="rows">
          <table class="bord">@rows</table>
        </Wrapper>
        <IfSome Context="source">
          <tr>
            <td>
              <a href="/s/sources/@source.Id">Details</a>
              <AuthorizeView Policy="AdminSuper">
                <Authorized>
                  | <a href="/edit/s/sources/@source.Id">Edit</a>
                  | <a href="/delete/s/sources/@source.Id">Delete</a>
                </Authorized>
              </AuthorizeView>
            </td>
            <td>@source.PublishedAt</td>
            <td>
              <a href="@source.Href" target="_blank">
                @if (model.Platform.IconPath != null)
                {
                  <Contenter.Views.Bases.ImageBase Source="@model.Platform.IconPath" />
                }
                @source.Name
              </a>
            </td>
            @if (this.X != XX.BeContent)
            {
            <td>
              @if(source.Content != null)
              {
                @if(source.Content.Fam != null){
                  <a href="/c/contents/@source.Content.Id">
                    @source.Content.Fam.Name
                  </a>
                }
                else
                {
                  <a href="/c/contents/@source.Content.Id" class="no-name">
                    no-show
                  </a>
                }
              
                <OneOrMany ParamList=@source.Content.Guests Context="guest">
                  <Before>
                      &raquo;
                  </Before>
                  <ChildContent>
                    <a href="/p/personas/@guest.Id">@guest.Name</a>
                  </ChildContent>
                  <IfNone></IfNone>
                </OneOrMany>
              }
            </td>
            }
          </tr>
        </IfSome>
      </MyLoader>
    }
    @After
  </IfSome>
</ExpList>
