@using Microsoft.AspNetCore.Components.Authorization
@if (this.Data.Channel != null)
{
  <a href="/s/channels/@this.Data.Channel.Id">@(this.Data.Channel.Name ?? "no-name")</a>
  <text> &raquo; </text>
}
@* <a href="/s/sources/@this.Data.Id" class="@(string.IsNullOrWhiteSpace( this.Data.Name) ? "no-name" : null)">
  @(this.Data.Name ?? "no-name")
</a> *@

<span class="@(string.IsNullOrWhiteSpace( this.Data.Name) ? "no-name" : null)">
  @(this.Data.Name ?? "no-name")
</span>

<div>
  <a href="@this.Data.Href" target="_blank" style="padding-right:4px" >
    @if (this.Data.IconPath != null)
    {
      <ImageBase Height="16px;" Width="16px;" Source=@this.Data.IconPath Alt="youtube" />
    }
    link
  </a>
</div>

<AuthorizeView>
  <Authorized Context="anyuser">
    <div>
      <AuthorizeView Policy="AdminSuper">
        <Authorized Context="admin">
          <a href="/edit/s/sources/@this.Data.Id">edit</a> | 
          <a href="/delete/s/sources/@this.Data.Id">delete</a>
        </Authorized>
      </AuthorizeView>
    </div>
  </Authorized>
</AuthorizeView>
